.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 70, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  max-height: 80vh;       
  overflow-y: auto; 
  position: relative;
  text-align: center;
  font-family: 'Inter', sans-serif;
  animation: fadeInModal 0.4s ease;
}

.modal-close {
  position: sticky;
  top: 1rem;
  right: 1rem;
  background-color: #e8dff1;
  border: none;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-close:hover{
    background-color: #b3afaf;
}


.modal-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.modal-title a {
  text-decoration: none;
  color: #010346;
}

.modal-title a:hover {
  text-decoration: underline;
}

.modal-date {
  color: #555;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.modal-categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.modal-categories li {
  background: #e8dff1;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  font-size: 0.85rem;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
